.TextField{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.TextField input{
    width: 100%;
    box-sizing: border-box;
    display: block;
    outline: none;
    font: inherit;
    padding: 6px 10px;
}

.Invalid input{
    border: 1px solid red;
}